xgboost==1.4.1
gensim==3.8.3
networkx==2.3
catboost==0.26
nodevectors==0.1.23
nltk==3.4.4
regex==2020.11.13
tqdm==4.32.1
pyjarowinkler==1.8
pypinyin==0.41.0
transformers==4.2.1
joblib==0.13.2
cogdl==0.3.0
pinyinsplit==0.1.4
Unidecode==1.2.0
numpy==1.21.1
scikit_learn==0.24.2
lightgbm==3.3.3
